In [2]:
import pandas as pd

In [2]:
# !pip install openpyxl

In [3]:
df = pd.read_pickle('input_data/Loan_Customer_Summary.pkl')
# sheets  = pd.read_excel('input_data/MASTER_DATA.xlsx')

In [4]:
df

,CustomerId,CustomerType,CustomerName,JewellerId,JewellerName,BorrowerType,LoanId,BranchId,BranchName,SchemeId,...,LoanIssueDate,LoanMaturityDate,LoanStatus,AuctionStatus,LoanAmount,OutstandingAmount,NPACategory,IsNPA,CustomerCreatedDate,LoanCloseDate
0,5,Retail,AOLQF ABC XYZ,NaN,NaN,NaN,197814,2,MOHOPADA,45,...,2024-12-26 14:01:29,2025-12-21 14:01:29,Close,False,20000,0,NaN,0,2016-05-05 00:00:00.000,2025-07-02 14:07:00
1,7,Retail,CQFOZQ ABC XYZ,NaN,NaN,NaN,203535,2,MOHOPADA,44,...,2025-03-08 14:54:41,2026-03-03 14:54:41,Close,False,5000,0,NaN,0,2016-05-05 00:00:00.000,2025-05-21 15:10:00
2,106,Retail,LXFOS ABC XYZ,NaN,NaN,NaN,210194,2,MOHOPADA,45,...,2025-05-26 12:43:03,2026-05-21 12:43:03,Active,False,227749,227749,NaN,0,2016-05-06 00:00:00.000,NaT
3,108,Retail,KGIORQL ABC XYZ,NaN,NaN,NaN,187413,2,MOHOPADA,44,...,2024-08-17 16:29:39,2025-08-12 16:29:39,Active,False,15000,15000,NaN,0,2016-05-06 00:00:00.000,NaT
4,108,Retail,KGIORQL ABC XYZ,NaN,NaN,NaN,209351,2,MOHOPADA,45,...,2025-05-14 14:35:50,2026-05-09 14:35:50,Active,False,40050,70844,NaN,0,2016-05-06 00:00:00.000,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29842,27131,Retail,LDOZQ ABC XYZ,NaN,NaN,NaN,193018,6,ULWE,44,...,2024-10-25 16:02:19,2025-10-20 16:02:19,Close,False,9000,0,NaN,0,2024-05-05 11:37:10.203,2025-05-16 17:17:00
29843,27131,Retail,LDOZQ ABC XYZ,NaN,NaN,NaN,201479,6,ULWE,45,...,2025-02-11 11:04:21,2026-02-06 11:04:21,Close,False,17630,0,NaN,0,2024-05-05 11:37:10.203,2025-05-16 17:18:00
29844,27132,Retail,LQFZGLI ABC XYZ,NaN,NaN,NaN,212236,4,KALAMBOLI,44,...,2025-06-23 14:47:51,2026-06-18 14:47:51,Approval,False,100000,100000,NaN,0,2024-05-06 05:27:38.400,NaT
29845,27132,Retail,LQFZGLI ABC XYZ,NaN,NaN,NaN,212239,4,KALAMBOLI,44,...,2025-06-23 14:51:27,2026-06-18 14:51:27,Active,False,140000,140000,NaN,0,2024-05-06 05:27:38.400,NaT
29846,27132,Retail,LQFZGLI ABC XYZ,NaN,NaN,NaN,188176,4,KALAMBOLI,44,...,2024-08-28 12:31:20,2025-08-23 12:31:20,Active,False,67000,67000,NaN,0,2024-05-06 05:27:38.400,NaT

In [ ]:
# sheets.describe()

,Quarter,Result / score date,Volume Date,Volume fig (in millions),Delay in volumes,3m return,6m return,12m return,18m return,24m return,Score
count,318,318,318,318.000000,318.000000,318.000000,318.000000,267.000000,200.000000,99.000000,318.000000
mean,2023-08-25 07:28:18.113207552,2017-03-29 05:07:55.471698176,2024-12-14 03:19:14.716981248,17.605597,19.213836,0.277170,0.545597,1.102060,1.502700,2.067374,0.742075
min,2022-12-01 00:00:00,1930-01-01 00:00:00,2006-12-01 00:00:00,0.070000,-9.000000,-0.350000,-0.420000,-0.410000,-0.420000,-0.220000,0.500000
25%,2023-03-01 00:00:00,2012-08-24 00:00:00,2025-02-10 18:00:00,1.625000,1.000000,0.060000,0.160000,0.380000,0.477500,0.770000,0.650000
50%,2023-09-01 00:00:00,2023-05-25 00:00:00,2025-06-10 12:00:00,4.550000,9.000000,0.210000,0.400000,0.820000,0.985000,1.540000,0.790000
75%,2024-03-01 00:00:00,2025-10-13 00:00:00,2025-09-02 18:00:00,13.000000,32.750000,0.427500,0.770000,1.495000,2.127500,2.740000,0.830000
max,2024-09-01 00:00:00,2029-05-01 00:00:00,2028-11-01 00:00:00,751.000000,100.000000,2.140000,5.450000,11.940000,11.040000,12.400000,0.980000
std,NaN,NaN,NaN,54.730235,23.344726,0.335488,0.631923,1.260638,1.684814,2.079895,0.129836

In [12]:
# for sheet_name, df in sheets.items():
#     print(f"Sheet: {sheet_name}")
#     print(df.head())

# sheets.fillna('', inplace=True)
sheets.to_pickle('input_data/Analysis1.pkl')

In [5]:
branch_df = df[[ 'BranchId', 'BranchName','LoanAmount', 'OutstandingAmount',]]

In [7]:
filtered = branch_df.groupby(['BranchId', 'BranchName']).agg(
    TotalLoanAmount=('LoanAmount', 'sum'),  
    TotalOutstandingAmount=('OutstandingAmount', 'sum')
).reset_index().sort_values(by='BranchId')

In [13]:
filtered

   BranchId  BranchName  TotalLoanAmount  TotalOutstandingAmount
0         1      PANVEL      248986935.0             175555709.0
1         2    MOHOPADA      173862551.0             114589073.0
2         4   KALAMBOLI      206809282.0             140823218.0
3         5  NEW PANVEL      207960275.0             113415194.0
4         6        ULWE      118752529.0              77323881.0
5         8     khopoli       38942235.0              24111541.0
6         9       NERAL       51205418.0              35423575.0

In [ ]:
filtered['TotalLoanAmount'].sum()

np.float64(1046519225.0)

In [12]:
filtered['TotalOutstandingAmount'].sum()

np.float64(681242191.0)

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
df['CloseDate'] = pd.to_datetime(df['CloseDate'], errors='coerce').dt.date.astype('datetime64[ns]')
df['CreatedDate'] = pd.to_datetime(df['CreatedDate'], errors='coerce').dt.date.astype('datetime64[ns]')
df

,AccountId,Amount,CampaignId,CloseDate,CreatedById,CreatedDate,CurrentGenerators__c,DeliveryInstallationStatus__c,Description,ExpectedRevenue,ForecastCategoryName,Id,IsWon,LeadSource,MainCompetitors__c,Name,NextStep,OrderNumber__c,OwnerId,Pricebook2Id,Probability,StageName,TotalOpportunityQuantity,TrackingNumber__c
0,001gK00000Isku3QAB,15000.0,NaN,2025-07-12,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,NaN,NaN,1500.0,Pipeline,006gK000005HVZCQA4,False,Purchased List,Honda,Dickenson Mobile Generators,NaN,NaN,005gK000007792XQAQ,NaN,10.0,Qualification,NaN,NaN
1,001gK00000Isku5QAB,125000.0,NaN,2025-06-30,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Yamaha,NaN,NaN,112500.0,Pipeline,006gK000005HVZDQA4,False,NaN,Yamaha,United Oil Office Portable Generators,NaN,NaN,005gK000007792XQAQ,NaN,90.0,Negotiation/Review,NaN,NaN
2,001gK00000Isku6QAB,220000.0,NaN,2025-05-26,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Hawkpower,NaN,NaN,220000.0,Closed,006gK000005HVZEQA4,True,Trade Show,Fujitsu,Express Logistics Standby Generator,NaN,653276.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
3,001gK00000IskuAQAR,85000.0,NaN,2025-07-03,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Honda,Completed,NaN,85000.0,Closed,006gK000005HVZFQA4,True,Partner,Honda,GenePoint Standby Generator,NaN,908676.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
4,001gK00000Isku4QAB,15000.0,NaN,2025-05-21,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,John Deere,Yet to begin,NaN,9000.0,Pipeline,006gK000005HVZGQA4,False,NaN,"Fujitsu, Hawkpower",Grand Hotels Kitchen Generator,NaN,NaN,005gK000007792XQAQ,NaN,60.0,Id. Decision Makers,NaN,NaN
5,001gK00000Isku5QAB,270000.0,NaN,2025-08-14,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Caterpillar,Yet to begin,NaN,202500.0,Pipeline,006gK000005HVZHQA4,False,NaN,John Deere,United Oil Refinery Generators,NaN,NaN,005gK000007792XQAQ,NaN,75.0,Proposal/Price Quote,NaN,NaN
6,001gK00000Isku5QAB,120000.0,NaN,2025-08-21,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,120000.0,Closed,006gK000005HVZIQA4,True,Partner,NaN,United Oil SLA,NaN,926363.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
7,001gK00000Isku4QAB,250000.0,NaN,2025-08-29,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Honda,Yet to begin,NaN,125000.0,Pipeline,006gK000005HVZJQA4,False,Employee Referral,Honda,Grand Hotels Guest Portable Generators,NaN,NaN,005gK000007792XQAQ,NaN,50.0,Value Proposition,NaN,NaN
8,001gK00000Isku0QAB,75000.0,NaN,2025-08-29,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,John Deere,Completed,NaN,75000.0,Closed,006gK000005HVZKQA4,True,Word of mouth,John Deere,Edge Emergency Generator,NaN,731645.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
9,001gK00000Isku7QAB,50000.0,NaN,2025-05-30,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Mitsubishi,Completed,NaN,50000.0,Closed,006gK000005HVZLQA4,True,Public Relations,"Honda, Mitsubishi",University of AZ Portable Generators,NaN,768934.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
10,001gK00000Isku2QAB,100000.0,NaN,2025-07-08,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,NaN,NaN,10000.0,Pipeline,006gK000005HVZMQA4,False,Phone Inquiry,NaN,Pyramid Emergency Generators,NaN,NaN,005gK000007792XQAQ,NaN,10.0,Prospecting,NaN,NaN
11,001gK00000Isku6QAB,80000.0,NaN,2025-05-24,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Fujitsu,Yet to begin,NaN,40000.0,Pipeline,006gK000005HVZNQA4,False,External Referral,Honda,Express Logistics Portable Truck Generators,NaN,NaN,005gK000007792XQAQ,NaN,50.0,Value Proposition,NaN,NaN
12,001gK00000IskuAQAR,60000.0,NaN,2025-08-23,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,"Hawkpower, Fujitsu",Yet to begin,NaN,36000.0,Pipeline,006gK000005HVZOQA4,False,NaN,Hawkpower,GenePoint Lab Generators,NaN,NaN,005gK000007792XQAQ,NaN,60.0,Id. Decision Makers,NaN,NaN
13,001gK00000IskuAQAR,30000.0,NaN,2025-08-26,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,30000.0,Closed,006gK000005HVZPQA4,True,Partner,NaN,GenePoint SLA,NaN,546512.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
14,001gK00000Isku5QAB,270000.0,NaN,2025-06-26,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,Yet to begin,NaN,243000.0,Pipeline,006gK000005HVZQQA4,False,NaN,NaN,United Oil Installations,NaN,NaN,005gK000007792XQAQ,NaN,90.0,Negotiation/Review,NaN,NaN
15,001gK00000Isku0QAB,50000.0,NaN,2025-06-20,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,Completed,NaN,50000.0,Closed,006gK000005HVZRQA4,True,Word of mouth,NaN,Edge Installation,NaN,835178.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
16,001gK00000Isku0QAB,60000.0,NaN,2025-05-16,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,NaN,NaN,60000.0,Closed,006gK000005HVZSQA4,True,Word of mouth,NaN,Edge SLA,NaN,847564.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
17,001gK00000Isku4QAB,350000.0,NaN,2025-08-12,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,Completed,NaN,350000.0,Closed,006gK000005HVZTQA4,True,External Referral,NaN,Grand Hotels Generator Installations,NaN,763546.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
18,001gK00000Isku5QAB,270000.0,NaN,2025-06-25,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,270000.0,Closed,006gK000005HVZUQA4,True,Partner,NaN,United Oil Installations,NaN,427609.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
19,001gK00000Isku5QAB,915000.0,NaN,2025-08-07,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,John Deere,Completed,NaN,915000.0,Closed,006gK000005HVZVQA4,True,Partner,"John Deere, Mitsubishi, Hawkpower",United Oil Refinery Generators,NaN,744343.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
20,001gK00000Isku1QAB,235000.0,NaN,2025-07-05,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,John Deere,Yet to begin,NaN,235000.0,Closed,006gK000005HVZWQA4,True,Web,John Deere,Burlington Textiles Weaving Plant Generator,NaN,645612.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
21,001gK00000Isku7QAB,100000.0,NaN,2025-05-27,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,Yet to begin,NaN,75000.0,Pipeline,006gK000005HVZXQA4,False,Employee Referral,NaN,University of AZ Installations,NaN,NaN,005gK000007792XQAQ,NaN,75.0,Proposal/Price Quote,NaN,NaN
22,001gK00000Isku6QAB,120000.0,NaN,2025-05-25,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,84000.0,Pipeline,006gK000005HVZYQA4,False,External Referral,NaN,Express Logistics SLA,NaN,NaN,005gK000007792XQAQ,NaN,70.0,Perception Analysis,NaN,NaN
23,001gK00000Isku7QAB,90000.0,NaN,2025-06-03,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,90000.0,Closed,006gK000005HVZZQA4,True,Public Relations,NaN,University of AZ SLA,NaN,654985.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
24,001gK00000Isku5QAB,235000.0,NaN,2025-07-07,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,235000.0,Closed,006gK000005HVZaQAO,True,External Referral,NaN,United Oil Installations,NaN,554821.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
25,001gK00000Isku5QAB,440000.0,NaN,2025-06-19,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Fujitsu,Completed,NaN,440000.0,Closed,006gK000005HVZbQAO,True,External Referral,"Honda, Mitsubishi",United Oil Emergency Generators,NaN,847324.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
26,001gK00000Isku4QAB,90000.0,NaN,2025-05-23,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,In progress,NaN,90000.0,Closed,006gK000005HVZcQAO,True,External Referral,NaN,Grand Hotels SLA,NaN,254676.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,NaN
27,001gK00000Isku5QAB,120000.0,NaN,2025-08-22,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,John Deere,NaN,NaN,120000.0,Closed,006gK000005HVZdQAO,True,External Referral,"John Deere, Mitsubishi, Hawkpower",United Oil Standby Generators,NaN,525476.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
28,001gK00000Isku4QAB,210000.0,NaN,2025-08-10,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Fujitsu,Completed,NaN,210000.0,Closed,006gK000005HVZeQAO,True,External Referral,Caterpillar,Grand Hotels Emergency Generators,NaN,387624.0,005gK000007792XQAQ,NaN,100.0,Closed Won,NaN,8.301503e+11
29,001gK00000Isku5QAB,675000.0,NaN,2025-07-24,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,Caterpillar,NaN,NaN,135000.0,Pipeline,006gK000005HVZfQAO,False,NaN,"Caterpillar, Mitsubishi, Hawkpower",United Oil Plant Standby Generators,NaN,NaN,005gK000007792XQAQ,NaN,20.0,Needs Analysis,NaN,NaN
30,001gK00000Isku0QAB,35000.0,NaN,2025-09-04,005gK000007792XQAQ,2025-09-03T20:05:49.000Z,NaN,NaN,NaN,21000.0,Pipeline,006gK000005HVZgQAO,False,NaN,"John Deere, Mitsubishi, Hawkpower",Edge Emergency Generator,NaN,NaN,005gK000007792XQAQ,NaN,60.0,Id. Decision Makers,NaN,NaN

In [18]:

df = pd.read_pickle("./Opportunity_20250918_045413.pkl")